div {

}

ul {
  margin: 0px;
  display: block;
  padding: 0px;
  width: 200px;
  list-style: none;

}

.cell {
  background-color: gray;
  float: left;
  height: 20px;
  width: 20px;
}

.apple {
  background: red;
}

.snake {
  background: black;
}